# --- PostgreSQL ---
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=error_enc
POSTGRES_PASSWORD=change_me
POSTGRES_DB=error_encyclopedia
DB_POOL_SIZE=10
DB_MAX_OVERFLOW=20
DB_POOL_PRE_PING=true
DB_ECHO=false

# --- Meilisearch ---
MEILISEARCH_URL=http://localhost:7700
MEILISEARCH_API_KEY=change_me_master_key
MEILISEARCH_INDEX=errors
MEILISEARCH_TIMEOUT=5
